on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@master
    
    - name: Login
      uses: okteto/login@master
      with:
        token: ${{ secrets.OKTETO_TOKEN }}

    - name: Activate Namespace
      uses: okteto/namespace@master
      with:
        namespace: sujith-mn
    
    - name: Deploy Pipeline
      uses: okteto/pipeline@master
      with:
        name: mts-pipeline
    
    
